* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header{
    background-color: #333;
    width: 100vw;
    height: 90px;
}

.navbar-item .btn{
    cursor: pointer;
}

.logo{
    height: 70px;
    border-radius: 50%;
    padding: 12px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;

}

.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-item{
    margin: 0 20px;
}

.navbar-item a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}

.navbar-item a:after{
    content: "";
    position: absolute;
    background-color: brown;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: all .4s;
}

.navbar-item a:hover:after{
    width: 100%;
}


.nav-toggle{
     color: #fff;
     font-size: 30px;
     background: none;
     border: none;
     padding: 0 10px;
     display: none;
     cursor: pointer;
}


/* Fin Header */

/* Inicio Slider */

.container-carrousel{
    width: 100vw;
    height: 60vh;
    background-color: #333;

    border-radius: 0px;
    overflow: hidden;
}

.carruseles{
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 3);
    height: 100%;
    position: relative;
}

.slider-section img{
    width: 100%;
    min-width: 1000px;
    height: 100%;
    object-fit: cover;
}

.slider-info{
    position: absolute;
}

.slider1 {
    top: 260px;
    left: 160px;
}

.slider1 h2, h4{
    font-size: 60px ;
}

.slider1 h2{
    color: #fff;
}

.slider1 h4{
    color: #c7841f;
}

.slider3{
    top: 200px;
    left: 240px;
    color: #fff
}

.slider3 h2{
    font-size: 70px;
}

.slider3 h4{
    font-size: 30px;
    padding: 10px 0;
}

.slider3 hr{
    height: 3px;
    background-color: #fff;
    width: 470px;
}


.btn-left, .btn-right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 32%;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    color: #cecece;
    background-color: #3e3e3e;
    opacity: .3;
    transition: .5s ease;
    user-select: none; 
    height: 100px;

}

.btn-left:hover, .btn-right:hover{
    color: #fff;
    opacity: 0.8;
}

.btn-right{
    right: 0%;
    border-radius: 15px 0 0 15px;
}

.btn-left{
    left: 0%;
    border-radius: 0 15px 15px 0;
}

.btn-left i{
    padding: 10px;
    margin-right: 10px ;
}

.btn-right i{
    margin-left: 10px;
    padding: 10px;
  
}

/* Fin Slider */

/* Inicio Main */

.history-container{
    background-image: url(../img/Fondo.jpg);
    color: #3e3e3e;
    width: 100vw;
    height: auto;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    color: white;
}


.info{
    background-color: #3e3e3e;
    opacity: 0.9;
    padding: 10px;
    border-radius: 30px;
    max-width: 1300px;
    margin: auto;
}

.history-container h2{
   margin: 30px;
   font-size: 100px;
}

.history-container p{
    font-size: 30px;
    margin: 40px;
}

/* Fin Main */

/* Inicio Footer */

.footer{
    width: 100%;
    background-color: #333;
}

.footer-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 25px 0px;

}

.box{
    text-align: center;
}

.box2{
    min-width: 320px;
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
    letter-spacing: 1px;
}

.box p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
}

.box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 36px;
    margin-right: 10px;
    background-color: #3e3e3e;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
}

.box a:hover{
    opacity: .7;
}

.footer-copy{
    background-color: #3e3e3e;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer-copy p{
    font-size: 12px;
}


/* Fin Footer */

/* Inicio Querys */

@media (max-width: 900px) {
    .footer-container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 45px 0px;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header{
        height: 70px;
    }

    .nav{
        height: 74px;
        position: fixed;
         top: 0;
        z-index: 100;
        background-color: #333;
        width: 100%;
    }
    
    .logo{
        height: 84px;
        padding: 14px;
    }
    
    .navbar{
        padding: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: #333;
        left: 100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        overflow-y: auto;
        transition: all .4s;
        z-index: 100;
    }

    .navbar-item{
        margin: 20px;
    }

    .nav-toggle{
        padding: 0 30px;
        display: block;
   }

   .navbar_visible{
    left: 0;
   }

   .nav-toggle:focus:not(:focus-visible){
    outline: none;
   }

   .info h2{
    font-size: 40px;
    margin: 8px 0;
    padding: 3px;
   }

   .info p{
    font-size: 20px;
   }

}

/* Fin Querys */